@model Category
<div class="row">
    <div class="container">
        <form method="post">
            <h2>@Model.Name delete?</h2>
            <button type="submit" class=" btn btn-warning w-100">Delete</button>
        </form>
    </div>
</div>